.banner {
  position: relative;
  height: 450px;

  display: flex;
  align-items: flex-end;

  padding: 60px;
  color: white;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.9),
    rgba(0,0,0,0.3),
    transparent
  );
}

.banner-content {
  position: relative;
  z-index: 1;
  max-width: 600px;
}

.banner h1 {
  font-size: 42px;
  line-height: 1.2;   /* prevents overlap between lines */
  margin-bottom: 10px;
}

.banner h1 {
  display: -webkit-box;
  -webkit-line-clamp: 2;  
  line-clamp :2; 
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-size: 42px;
  line-height: 1.2;
}

.banner h1 {
  text-shadow: 0 4px 20px rgba(0,0,0,0.8);
}
.banner p {
  font-size: 14px;
  opacity: 0.8;
}