@font-face {
  font-family: 'Badteleur';
  src: url('./assets/fonts/Basteleur-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding:0 40px;
  background: linear-gradient( rgba(0, 0, 0, 0.848), transparent);
  z-index: 100;

  display:flex;
  align-items:center;
  justify-content:space-between;

}

.logo{
  font-family:'Basteleur',serif; 
  color: rgb(108, 30, 30)
}

.search-bar {
  position: relative;
  width: 350px;
  padding-right:30%;
}

.search-bar input {
  width: 100%;
  padding: 12px 16px;

  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.1);

  background: rgba(255,255,255,0.08);
  color: white;

  font-size: 15px;
  transition: 0.3s;
}

.search-bar input:focus {
  background: rgba(255,255,255,0.15);
  border: 1px solid #e50914;
  box-shadow: 0 0 10px rgba(229,9,20,0.4);
}

.dropdown {
  position: absolute;
  top: 50px;
  width: 47%;

  background: rgba(20,20,20,0.95);
  backdrop-filter: blur(8px);

  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0,0,0,0.8);
}

.dropdown div {
  padding: 12px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.dropdown div:hover {
  background: rgba(229,9,20,0.2);
}